.post-title{
  text-align: center;
}

.room-name{
  display: table;
  margin-left: auto;
}

.shared-text{
  text-align: right;
  display: table;
  margin-left: auto;
}

.share-button{
  float: right;
}
